configuration{
    modi: "recursivebrowser";
    recursivebrowser {
      directory: "/run/media/mohammed/Data/Chemistry Library/";
      sorting-method: "name";
      directories-first: true;
      cancel-returns-1: true;
      filter-regex: "(.*cache.*|.*\.o)";
      command: "xdg-open";

    }
}

@theme "catppuccin-frappe"
