 * {
	background-image: none;
   border-radius: 10px;
	box-shadow: none;
   font-family: Iosevka NF;
   font-size: 1.2rem;
   font-weight: 700;
}

window {
	background-image: url("/tmp/shot_blurred.png");
}

button {
    color: #EBDBB2;
    background-color: #3C3836;
    outline-style: none;
    border: none;
    border-width: 0px;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}
button:focus {
    background-color: #1D2021;
    background-size: 25%;
}

button:hover {
    background-color: #1D2021;
    background-size: 25%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("./images/lock.png"), url("./images/lock.png"));
}

#logout {
    background-image: image(url("./images/logout.png"), url("./images/logout.png"));
}

#suspend {
    background-image: image(url("./images/suspend.png"), url("./images/suspend.png"));
}

#hibernate {
    background-image: image(url("./images/hibrnate.png"), url("./images/hibrnate.png"));
}

#shutdown {
    background-image: image(url("./images/shutdown.png"), url("./images/shutdown.png"));
}

#reboot {
    background-image: image(url("./images/restart.png"), url("./images/restart.png"));
}
